<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión — PetCare</title>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,600;0,900;1,300;1,600&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <%- include('plantillas/navbar') %>

  <main class="login-page">

    <!-- FORMULARIO USUARIO -->
    <div class="login-box usuario">
      <h2>Inicio de sesión como usuario</h2>
      <form action="/auth/login/usuario" method="POST" style="margin-top: 1.5rem;">
        <div class="form-group">
          <label for="usuario-correo">Nombre de usuario, correo o teléfono</label>
          <input type="text" id="usuario_input" name="usuario_input" placeholder="Ej: ana@ejemplo.com o ana_garcia o 612345678"
          value = "<%= formType === 'usuario' && formData ? formData.usuario_input : '' %>">
        </div>
        <div class="form-group">
          <label for="usuario-password">Contraseña</label>
          <input type="password" id="usuario-password" name="password" placeholder="••••••••"
          value = "<%= formType === 'usuario' && formData ? formData.password : '' %>">
        </div>
        <button type="submit" class="btn-submit">Login</button>
      </form>
      <div class="register-footer">
        He olvidado mi contraseña. <a href="/auth/recuperarContrasena">Recuperar</a><br>
      </div>
      <div class="register-footer">
        No tienes cuenta. <a href="/auth/register">Regístrate</a>
      </div>
    </div>

    <!-- FORMULARIO EMPRESA -->
    <div class="login-box empresa">
      <h2>Inicio de sesión como empresa</h2>
      <form action="/auth/login/empresa" method="POST" style="margin-top: 1.5rem;">
        <div class="form-group">
          <label for="empresa-correo">Correo</label>
          <input type="email" id="empresa-correo" name="correo" placeholder="contacto@empresa.com"
          value = "<%= formType === 'empresa' && formData ? formData.correo : '' %>">
        </div>
        <div class="form-group">
          <label for="empresa-password">Contraseña</label>
          <input type="password" id="empresa-password" name="password" placeholder="••••••••"
          value = "<%= formType === 'empresa' && formData ? formData.password : '' %>">
        </div>
        <button type="submit" class="btn-submit-green">Login</button>
      </form>
      <div class="register-footer">
        He olvidado mi contraseña. <a href="/auth/recuperarContrasena">Recuperar</a><br>
      </div>
      <div class="register-footer">
        No tienes cuenta. <a href="/auth/register">Únete</a>
      </div>
    </div>

  </main>

  <%- include('plantillas/modalErrores', { error: error, errores: errores }) %>
  <%- include('plantillas/footer') %>
</body>
</html>