<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Mascota - PetCare</title>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,600;0,900;1,300;1,600&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="pets-body">
    <%- include('plantillas/navbar') %> 

    <div class="pets-layout">
        <div class="pet-title">
            <h1 class="pets-title">Mis Mascotas</h1>
        </div>
        <div class="pets-container">
            <% if (pets.length === 0) { %>
                <main class="empty-pets">
                    <section>
                        <div class="empty-pet-container">
                            <h2 class="empty-pet-container-title">¡Aún no tienes mascotas registradas!</h2>
                            <p class="empty-pet-container-text">Parece que tu manada está esperando para unirse a la aventura...</p>
                            <br>
                            <a class="btn-pet-register" href="/pets/register">Registrar Mascota</a>
                        </div>
                    </section>
                </main>
            <% } else { %>
                <% pets.forEach(pet => { %>
                    <a href="/pets/profile/<%= pet.id_mascota %>" class="pet-card-link">
                        <div class="pet-card-wrapper">
                            <div class="pet-card-back"></div>
                            <div class="pet-card-mid"></div>
                            <div class="pet-card">
                                <div class="pet-image-container">
                                    <% if (pet.foto) { %>
                                        <img src="data:image/jpeg;base64,<%= pet.foto.toString('base64') %>" alt="<%= pet.nombre_mascota %>" class="pet-image">
                                    <% } else { %>
                                        <img src="/images/no-pet.png" alt="Mascota sin foto" class="pet-image">
                                    <% } %>
                                </div>
                                <div class="pet-info">
                                    <h2 class="pet-name"><%= pet.nombre_mascota %></h2>
                                    <p><strong>Especie:</strong> <%= pet.especie %></p>
                                    <p><strong>Raza:</strong> <%= pet.raza %></p>
                                    <p><strong>Peso:</strong> <%= pet.peso %> kg</p>
                                    <p><strong>Fecha de Nacimiento:</strong> <%= pet.fecha_nacimiento.toISOString().split('T')[0] %></p>
                                </div>
                            </div>
                        </div>
                    </a>
                <% }) %>
            <% } %>
        </div>
        <% if (pets.length > 0) { %>
        <div class="add-pet-container">
            <a href="/pets/register" class="btn-pet-register">¡Hay un nuevo miembro en casa!</a>
        </div>
        <% } %>
    </div>

    <%- include('plantillas/footer') %>

</body>
</html>